* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.text-center {
  align-self: center;
  margin: 3rem 0 1rem 0 !important; }

.margin-top-md {
  margin-top: 4rem !important; }

.btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: all .4s;
  z-index: 3;
  line-height: 45px; }

.nav-btn {
  position: absolute;
  top: -70px;
  right: 0; }
  .nav-btn:hover {
    background-color: #460B2F; }

.main-btn {
  color: #FB8B24;
  background-color: transparent;
  border: 2px solid #FB8B24; }
  .main-btn:hover {
    background-color: #FB8B24;
    color: #262626; }

.sub-btn {
  color: #262626;
  background-color: #fff;
  border: 2px solid #262626; }

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #FB8B24; } }
.brand {
  position: absolute;
  top: 0.7rem;
  left: 3rem;
  z-index: 2;
  height: 110px;
  width: 110px;
  overflow: hidden;
  border-radius: 50%;
  margin: 40px;
  filter: sepia(60%); }
  .brand-logo {
    height: 100%;
    width: 100%; }
    .brand-logo img {
      object-fit: cover;
      height: 100%;
      width: 100%; }

.footer {
  position: relative;
  height: 15vh;
  width: 100vw;
  background-color: #460B2F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0; }
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65%;
    width: 100%;
    padding: 0;
    margin: 0; }
    .footer-content-sm {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: baseline;
      height: 100%; }
      .footer-content-sm-heading {
        color: #fff;
        text-transform: capitalize;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; }
      .footer-content-sm-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none; }
        .footer-content-sm-icons-item {
          padding: 0 0.2rem; }
        .footer-content-sm-icons-link {
          color: #FB8B24; }
    .footer-content-contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: baseline;
      height: 100%; }
      .footer-content-contacts__heading {
        color: #fff;
        text-transform: capitalize; }
      .footer-content-contacts__phone {
        color: #FB8B24;
        font-size: 0.8rem; }
    .footer-content-hours {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: baseline;
      height: 100%; }
      .footer-content-hours__heading {
        color: #fff;
        text-transform: capitalize; }
      .footer-content-hours div h5 {
        color: #FB8B24;
        font-size: 0.8rem; }
  .footer-copyright-paragraph {
    color: #fff;
    font-weight: lighter;
    font-size: 0.7rem; }

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif; }

.header {
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background: linear-gradient(rgba(38, 38, 38, 0.5), rgba(38, 38, 38, 0.5)), url(../images/bg-5.jpg) center no-repeat;
  background-size: cover;
  font-family: sans-serif; }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #E36414;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
    padding: 20px; }
  .header .sub-heading {
    text-transform: capitalize;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 0;
    margin-top: 10px; }
  .header .main-heading {
    background-color: #460B2F;
    padding: 1rem 2rem;
    color: white;
    font-weight: lighter;
    font-family: "Hind Guntur", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; }

.nav {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-family: sans-serif;
  width: max-content;
  margin: 60px 40px 40px 40px;
  font-size: 1.2rem; }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .nav-item {
    padding: 10px 40px;
    list-style: none;
    transition: .2s; }
    .nav-item:hover {
      background-color: #E36414; }
    .nav-item-active:hover {
      color: #E36414; }
  .nav-link {
    text-decoration: none;
    color: #fff; }

.specials {
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  margin: 30px 0;
  padding: 0 50px; }
  .specials .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .specials .cards-wrapper .card {
      position: relative;
      width: 33.3%;
      height: 33%;
      margin: 5px;
      transition: all .2s; }
      .specials .cards-wrapper .card:hover .card-overlay {
        background-color: transparent;
        transform: scale(1.2); }
      .specials .cards-wrapper .card:hover .card-overlay .sub-btn {
        background-color: black;
        color: #fff;
        opacity: 1; }
      .specials .cards-wrapper .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
        transition: all .1s; }
      .specials .cards-wrapper .card img {
        height: 100%;
        width: 100%;
        object-fit: cover; }

.gallery {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px; }
  .gallery-heading {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 1rem 0 2rem 0;
    font-size: 1.2rem; }
    .gallery-heading-sub {
      letter-spacing: 1px;
      margin-bottom: 25px; }
    .gallery-heading-main {
      background-color: #460B2F;
      padding: 1rem 2rem;
      color: white;
      font-weight: lighter;
      font-family: "Hind Guntur", sans-serif;
      font-size: 1.5rem;
      line-height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase; }
  .gallery .cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
    height: 80%;
    margin-bottom: 20px; }
    .gallery .cards-wrapper .card {
      position: relative;
      width: 30%;
      height: 45%;
      box-shadow: 0 0 1px black; }
      .gallery .cards-wrapper .card:hover .card-overlay {
        background-color: black;
        color: #fff; }
      .gallery .cards-wrapper .card-overlay {
        color: deeps #262626;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        padding: 10px;
        transition: all 1s; }
        .gallery .cards-wrapper .card-overlay-image {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-20%, -50%) rotate(25deg);
          height: 120px !important;
          width: 120px !important;
          z-index: 2;
          border-radius: 50%; }
      .gallery .cards-wrapper .card img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.about {
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column; }
  .about-section-heading {
    color: #460B2F;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 3rem 0;
    font-family: "Hind Guntur", sans-serif;
    font-size: 2rem;
    background-color: lavenderblush;
    width: max-content;
    padding: 5px 10px;
    font-weight: lighter; }
  .about .main-heading {
    background-color: #460B2F;
    padding: 1rem 2rem;
    color: white;
    font-weight: lighter;
    font-family: "Hind Guntur", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; }
  .about-img-wrapper {
    height: 40rem;
    width: 30rem;
    align-self: center;
    margin: 3rem 0; }
    .about-img-wrapper img {
      height: 100%;
      width: 100%;
      object-fit: contain; }
  .about-text {
    font-size: 1.1rem;
    text-align: justify; }
