@mixin main-heading{
  background-color: #460B2F;
  padding: 1rem 2rem;
  color: white;
  font-weight: lighter;
  font-family: $font-heading;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: max-content;
  margin-bottom: 1rem;

}

@mixin flexLayout{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin sectionBaseLayout{
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  height: min-content;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
}
@mixin sectionHeading{
  color: $color-heading;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 3rem 0;
  font-family: $font-heading;
  font-size: 2rem;
  background-color: lavenderblush;
  width: max-content;
  padding: 5px 10px;
  font-weight: lighter;
}
@mixin footerFlexLayout{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  height: 100%;
}

@mixin footerHeading{
  color: $color-footer-heading;
  text-transform: capitalize;
}
@mixin footerText{
  color: $color-footer-link;
  font-size: 0.8rem;

}