$color-dark: #262626;
$color-black: #000;

$color-primary: #9A031E;
$color-secondary:#460B2F;
$color-ternary: #E36414;
$color-quatery: #FB8B24;

//$color-primary: #FB8B24;
//$color-primary: #E36414;

//$color-secondary: #bbb;


$color-heading: #460B2F;
$color-bg-heading: lavenderblush;

$color-white: #fff;
$color-bg: whitesmoke;


//menu
$color-menu-bg: $color-bg-heading;
$color-menu-price: $color-primary;
$color-menu-product-desc:$color-heading;

//about




//buttons' colors
$color-btn-main: #E36414;
$color-btn-main: #FB8B24;
$color-btn-main-secondary: #262626;
$color-btn-nav-hover: #460B2F;
$color-pulse: #FB8B24;

//contact-us
$color-container-bg: whitesmoke;
$color-form-bg: $color-bg-heading;
$color-icons: $color-btn-main;
$color-input: $color-secondary;
$color-label: $color-form-bg;

//footer
$color-footer-heading:$color-white;
$color-footer-bg:#460B2F;
$color-footer-link: $color-btn-main;


//fonts
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-heading: 'Hind Guntur', sans-serif;