$color-dark: #262626;
$color-black: #000;

$color-primary: #9A031E;
$color-primary: #FB8B24;
$color-primary: #E36414;

$color-secondary: #bbb;

$color-heading: #460B2F;
$color-bg-heading: lavenderblush;

$color-white: #fff;
$color-bg: whitesmoke;


//buttons' colors

$color-btn-main: #E36414;
$color-btn-main: #FB8B24;
$color-btn-main-secondary: #262626;
$color-btn-nav-hover: #460B2F;
$color-pulse: #FB8B24;


$color-footer-heading:$color-white;
$color-footer-bg:#460B2F;
$color-footer-link: $color-btn-main;


$font-josefinSans: 'Josefin Sans', sans-serif;
$font-heading: 'Hind Guntur', sans-serif;