footer {
  position: relative;
  min-height: 12vh;
  width: 100vw;
  background-color: $color-footer-bg;
  padding: 2rem 0;

  .footer {
    display: flex;
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
    }

    &__box {
      height: 100%;
      width: 30%;
      @include flexLayout;
      flex-direction: column;
      @include respond(phone) {
        width: 100%;
        margin-top: 1rem;
      }

      &__heading {
        color: $color-ternary;
        font-size: 1rem;
        letter-spacing: 1px;
      }

      &__content {
        @include flexLayout;
        justify-content: center;
        margin: 0.2rem;
        color: white;
        list-style: none;
        width: 100%;

        .icon__item {
          margin-right: 1rem;
        }

        .icon__link {
          color: $color-white;
        }

      }
    }
  }

  .footer__copyright {
    color: $color-footer-heading;
    font-weight: lighter;
    font-size: 0.9rem;
    width: 100%;
    margin: 1rem;
    text-align: center;
  }
}



