.footer {
  position: relative;
  top:0;
  left:0;
  height: 15vh;
  width: 100vw;
  background-color: $color-footer-bg;
  @include flexLayout;
  flex-direction: column;
  padding: 1rem 0;

  &-content {
    @include flexLayout;
    height: 65%;
    width: 100%;
    padding: 0;
    margin: 0;

    &-sm {
    @include footerFlexLayout;


      &-heading {
        @include footerHeading;
        @include flexLayout;
        flex-direction: column;
      }

      &-icons {
        @include flexLayout;
        list-style: none;

        &-item {
          padding: 0 0.2rem;
        }

        &-link {
          color: $color-footer-link;

        }
      }
    }

    &-contacts {
      @include footerFlexLayout;

      &__heading {
        @include footerHeading;
      }

      &__phone {
        @include footerText;
      }
    }

    &-hours {
      @include footerFlexLayout;

      &__heading {
        @include footerHeading;
      }
      div h5{
        @include footerText;

      }
    }
  }
  &-copyright{
    &-paragraph{
      color: $color-footer-heading;
      font-weight: lighter;
      font-size: 0.7rem;

    }
  }
}



