.header {
  position: relative;

  width: 100vw;
  min-height: 90vh;

  display: flex;
  justify-content: space-between;
  //align-items: center;

  overflow: hidden;

  background: linear-gradient(rgba($color-dark, 0.5), rgba($color-dark, 0.5));



  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    object-fit: contain;
    filter: brightness(50%);
    z-index: 1;


    @include respond(phone){
    height: 100%;
    }

    @include respond(tab-port){
      //height:100%;

    }
    @include respond(tab-land){
      //width:100%;
    }

    @include respond(big-desktop) {
      background-color: red;
      //height: 100%;
    }

  }

  &__img {
   position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }

  &-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    color: $color-primary;
    text-transform: uppercase;

    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 12.5rem;
    padding: 1.25rem;

  }

  .sub-heading {
    text-transform: capitalize;
    color: $color-white;
    font-weight: lighter;
    letter-spacing: 0;
    margin-top: 0.625rem;
  }

  .main-heading {
    @include main-heading;


  }
}