.btn {
  width: 10.625rem;
  height: 2.813rem;
  font-family: $font-josefinSans;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: all .4s;
  z-index: 3;
  line-height: 0.875rem;
}

.nav-btn {
  //position: absolute;
  //top: 0;
  //right: 0;
  &:hover{
    transform: translateY(3px);
  }
}

.main-btn {
  color: $color-btn-main;
  background-color: transparent;
  border: 2px solid $color-btn-main;
  padding: 1rem;

  &:hover {
    background-color: $color-btn-main;
    color: $color-btn-main-secondary;
  }
}

.sub-btn {
  color: $color-dark;
  background-color: $color-white;
  border: 2px solid $color-dark;
}


// Animate the size, outside
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 $color-pulse; }
}


.close-btn{
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 100;
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  line-height: 1rem;

}


