.brand {
  position: relative;
  z-index: 2;
  height: 6.87rem;
  width: 6.87rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 3rem;
  filter: sepia(60%);
  @include respond(phone){
    height: 3rem;
    width: 3rem;
  }
  @include respond(tab-port){
    height: 4rem;
    width: 4rem;
  }
  @include respond(tab-land){

  }
  @include respond(big-desktop){

  }

  &-logo {
    height: 100%;
    width: 100%;

    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}