.contact-us {
  @include sectionBaseLayout;

  &__cards {
    @include flexLayout;
    width: 100%;
    height: 40%;

    .card {
      background-color: $color-bg-heading;
      height: 25rem !important;
      width: 50%;
      color: black;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      font-family: $font-heading;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &__img-wrapper {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &__content {
        height: 45%;
        width: max-content;


        .heading--main {
          color: $color-heading;
          font-size: 1.3rem;
          margin-bottom: 1rem;

        }

        .heading--sub {
          font-size: 1rem;

        }
      }
    }
  }

  &__text {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .text__heading-main {
      @include sectionHeading;
      margin: 3rem 0 0.5rem 0;

    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;


    &--main {
      @include main-heading;
      margin-bottom: 0;

      &:nth-of-type(2) {
        background-color: $color-primary;
      }
    }
  }
}

