* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


html{
  font-size: 100%;
  @include respond(phone){
    //font-size: 100%;
  }
  @include respond(tab-port){
  }
  @include respond(tab-land){
  }
  @include respond(big-desktop){
    //font-size: 105%;
  }
}

.none {
  display: none !important;
}

.divLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  font-family: $font-heading;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: justify-all;
}
.flex-dir-col{
  flex-direction: column;
}